doctype html

html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='description of your site')
		meta(name='author', content= "author of the site")
		//- uncomment if your site is responsive!
		//- meta(name="viewport" content="width=device-width, initial-scale=1") 

		<title>Red and Gold - Catering Services</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link rel="stylesheet" href="assets/css/main.css" />

		!= css()

	div(class="header-top")
			div(class="container")
				div(class="row")
					div(class="col s4 m4 logo-brand2")
						a(id="logo-container", href="#", class="brand-logo") <img src="img/logo2.png">
					div(class="col s8 m8 social-right")
						ul(class="social")
							li(class="follow gallery")
								p follow us:
							li(class="fb")
								a(href="https://www.facebook.com/ayenscateringservices/" target="_blank") <i class="fa fa-facebook">&nbsp;</i>
							li(class="gplus")
								a(href="https://plus.google.com/105250928063992020101/posts" target="_blank") <i class="fa fa-google-plus" >&nbsp;</i>
						ul(class="cont")
							li(class="phone")
								a(href="#")<i class="fa fa-phone">&nbsp;</i>
							li(class="numb")
								a(href="tel:0925 495 8268") 0925 495 8268

	div(id="wrapper" class="gallery")
		header(id="header")
			h1 <a href="index.html"><strong>Multiverse</strong> by HTML5 UP</a>			
			nav(class="gallerynav light-blue lighten-1 nav-new")
				div(class="container")
					ul(class="right hide-on-med-and-down")
						li 
							a(href="home.html") 
								<i class="fa fa-home">&nbsp;</i> Home
						li 
							a(href="about-us.html") 
								<i class="fa fa-users">&nbsp;</i> About Us
						li 
							a(href="package-and-menu.html") 
								<i class="fa fa-cutlery">&nbsp;</i> Packages and Menu
						li 
							a(href="gallery.html" class="active") 
								<i class="fa fa-camera-retro">&nbsp;</i> Gallery
						li 
							a(href="contact-us.html") 
								<i class="fa fa-phone">&nbsp;</i> Contact Us

					ul(id="nav-mobile" class="side-nav")
						li
							a(href="home.html")
								<i class="fa fa-home">&nbsp;</i> Home
						li
							a(href="about-us.html")
								<i class="fa fa-users">&nbsp;</i> About Us
						li
							a(href="package-and-menu.html")
								<i class="fa fa-cutlery">&nbsp;</i> Packages and Menu
						li
							a(href="gallery.html" class="active")
								<i class="fa fa-camera-retro">&nbsp;</i> Gallery
						li
							a(href="contact-us.html")
								<i class="fa fa-phone">&nbsp;</i> Contact Us

					a(href="#" data-activates="nav-mobile" class="button-collapse") <i class="material-icons">menu</i>

		<!-- Main -->
		div(class="page-ttle container")
			h5(class="title") Photo Gallery
			p(class="sub-ttle") Our signature food catering presentations, buffet setups, and designs
		div(id="main")
			article(class="thumb")
				a(href="images/fulls/prev-1.jpg" class="image") <img src="images/thumbs/thumb-1.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev106.jpg" class="image") <img src="images/thumbs/thumb106.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev105.jpg" class="image") <img src="images/thumbs/thumb105.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev104.jpg" class="image") <img src="images/thumbs/thumb104.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev103.jpg" class="image") <img src="images/thumbs/thumb103.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev100.jpg" class="image") <img src="images/thumbs/thumb100.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev98.jpg" class="image") <img src="images/thumbs/thumb98.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev95.jpg" class="image") <img src="images/thumbs/thumb95.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev94.jpg" class="image") <img src="images/thumbs/thumb94.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev76.jpg" class="image") <img src="images/thumbs/thumb76.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev77.jpg" class="image") <img src="images/thumbs/thumb77.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

			article(class="thumb")
				a(href="images/fulls/prev59.jpg" class="image") <img src="images/thumbs/thumb59.jpg" alt="" />
				h2 Ayen's Catering Services
				p Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town.

	<!-- Footer -->
	footer(id="footer" class="panel")
		div(class="inner split")
			div
				section
					img(src="img/logo2.png")
					p We also accept semi-cater with no time limit and rentals of our materials. Ayen's Catering Services is a Company That Specializes in Making People Happy. <br>That’s why our reputation lies on the satisfaction of our beloved clients. We care about getting to know you and your needs, and through the core values we uplift, we can serve you the best way possible.

				section
					h2 Follow me on ...
					ul(class="icons")
						li 
							a(href="#" class="icon fa-google")
								<span class="label"> Google
						li
							a(href="#" class="icon fa-facebook")
								<span class="label"> Facebook
				p(class="copyright") &copy; Red and Gold Catering Services. Design: <a href="http://webquisites.com">Webquisites</a>.

			div
				section
					h2 Get in touch
					form(method="post" action="#")
						div(class="field half first")
							input(type="text" name="name" id="name" placeholder="Name")
						div(class="field half")
							input(type="text" name="email" id="email" placeholder="Email")

						div(class="field")
							textarea(name="message" id="message" rows="4" placeholder="Message")
						ul(class="actions")
							li
								<input type="submit" value="Send" class="special" />
							li
								<input type="reset" value="Reset" />

include footer-gallery