
extends layout

block content
	div(class="slider")
		ul(class="slides")
			li
				img(src="img/slider-new-1.jpg")
				div(class="caption center-align")
					h3 Red & Gold Catering Service
					h5(class="light grey-text text-lighten-3") "We also accept semi-cater with no time limit and rentals of our materials."
			li
				img(src="img/slider-new-2.jpg")
				div(class="caption left-align")
					h3 Buffet Set-Up
					h5(class="light grey-text text-lighten-3") "We also accept semi-cater with no time limit and rentals of our materials."
			li
				img(src="img/slider-new-3.jpg")
				div(class="caption right-align")
					h3 Wedding Anniversary
					h5(class="light grey-text text-lighten-3") "We make your day more specials and the unforgettable moments with us.."
			li
				img(src="img/slider-new-4.jpg")
				div(class="caption center-align")
					h3 Our Menus
					h5(class="light grey-text text-lighten-3") "Quality Cuisine That Makes You Smile"s
	div(id="services")
		div(class="container")
			div(class="header-title services")
				h3 Red and Gold Catering Services is the one to call when it comes to all of your catering needs.
			div(class="section")

				<!--   Icon Section   -->
				div(class="row")
					div(class="col s12 m4")
						div(class="icon-block")
							figure
								img(src="img/party.jpg")
							h5(class="center") About Us
							p(class="light") With an extensive amount of experience, Red and Gold Catering Service is a dynamic company driven to meet your needs and designs for your events.
							a(href="about-us.html" class="waves-effect waves-light btn-large") <i class="fa fa-paper-plane">&nbsp;</i>Read More

					div(class="col s12 m4")
						div(class="icon-block")
							figure
								img(src="img/fiesta.jpg")
							h5(class="center") Packages and Menu

							p(class="light") To make your event planning more convenient, you can choose from the different packages that we offer. We can assure that you'll find one that's fit for your occasion.
							a(href="packages-and-menu.html" class="waves-effect waves-light btn-large") <i class="fa fa-paper-plane">&nbsp;</i>Read More

					div(class="col s12 m4")
						div(class="icon-block")
							figure
								img(src="img/party2.jpg")
							h5(class="center") Contact Us
							p(class="light") Are you planning an event? Whatever it is, we will be happy to assist you. Just simply call or visit to inquire of our reliable catering services. We will surely attend to your needs promptly.
							a(href="contact-us.html" class="waves-effect waves-light btn-large") <i class="fa fa-paper-plane">&nbsp;</i>Read More

				div(class="section")

	div(id="about")
		div(class="container")
			div(class="row")
				div(class="col s8 m8")
					h5(class="title") Our Company
					p
						strong Red and Gold Catering

						| offers full catering services for different occasions. Get the best catering service for your special day Ayen's Catering Services offers the best catering services in town

					p Choose from their sumptuous food menus perfect or wedding debut baptismal corporate event anniversary birthday/kiddie party and any type of events.

					p Get the best catering service for your special day Red and Gold Catering Services offers the best catering services in town.

					a(href="#" class="waves-effect waves-light btn-large") <i class="fa fa-paper-plane">&nbsp;</i>Read More
					p
						<img src="img/250.png">
						<img src="img/2502.png">
				div(class="col s4 m4")
					img(src="img/aboutpic3.jpg")

	div(id="share-talk" class="parallax-container")
		div(class="parallax") 
			img(src="img/sharetalk-bg2.jpg")
		div(class="container slide-top")
			h2 We would love to customize for you a catering package<br>that suit your exact needs
			h4 Share with us a few details about your event. Our event planner will contact you as soon as possible
			div
				a(href="#") Let's Talk