doctype html

html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='description of your site')
		meta(name='author', content= "author of the site")
		//- uncomment if your site is responsive!
		//- meta(name="viewport" content="width=device-width, initial-scale=1") 

		<title>Red and Gold - Catering Services</title>

		<!-- CSS  -->
		<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

		!= css()

		div(class="header-top")
			div(class="container")
				div(class="row")
					div(class="col s4 m4 logo-brand2")
						a(id="logo-container", href="#", class="brand-logo") <img src="img/logo2.png">
					div(class="col s8 m8 social-right")
						ul(class="social")
							li(class="follow")
								p follow us:
							li(class="fb")
								a(href="https://www.facebook.com/ayenscateringservices/" target="_blank") <i class="fa fa-facebook">&nbsp;</i>
							li(class="gplus")
								a(href="https://plus.google.com/105250928063992020101/posts" target="_blank") <i class="fa fa-google-plus" >&nbsp;</i>
						ul(class="cont")
							li(class="phone")
								a(href="#")<i class="fa fa-phone">&nbsp;</i>
							li(class="numb")
								a(href="tel:0925 495 8268") 0925 495 8268

		nav(class="light-blue lighten-1 nav-new" role="navigation")
			div(class="container")
				ul(class="right hide-on-med-and-down")
					li
						a(href="home.html") <i class="fa fa-home">&nbsp;</i>Home
					li
						a(href="about-us.html") <i class="fa fa-users">&nbsp;</i>About Us
					li
						a(class="active", href="package-and-menu.html") <i class="fa fa-cutlery">&nbsp;</i>Packages and Menu
					li
						a(href="gallery.html") <i class="fa fa-camera-retro">&nbsp;</i>Gallery
					li
						a(href="contact-us.html") <i class="fa fa-phone">&nbsp;</i>Contact Us

				ul(id="nav-mobile", class="side-nav")
					li
						a(href="home.html") <i class="fa fa-home">&nbsp;</i>Home
					li
						a(href="about-us.html") <i class="fa fa-users">&nbsp;</i>About Us
					li
						a(class="active", href="package-and-menu.html") <i class="fa fa-cutlery">&nbsp;</i>Packages and Menu
					li
						a(href="gallery.html") <i class="fa fa-camera-retro">&nbsp;</i>Gallery
					li
						a(href="contact-us.html") <i class="fa fa-phone">&nbsp;</i>Contact Us

				a(href="#", data-activates="nav-mobile", class="button-collapse") <i class="material-icons">menu</i>


	div(class="header-bg" style="height:300px;")
		div(class="parallax") 
			img(src="img/gen-pg-bg1.jpg" width="100%")
		h3 "Quality Cuisine That Makes You Smile"


	div(class="general-page-left")
		div(class="container")
			div(class="row")
				div(class="package col s8 m8")
					div(class="cont")
						h5(class="title") Packages and Menu
						div(class="menu-cont")                     
							div(class="buffet-type")
								div(class="row")
									h3(class="head") BUFFET TYPE SERVICES: P220 / person (60pax minimum)
									div(class="col s6 m6")
										ul
											li <i class="fa fa-heart" aria-hidden="true">&nbsp;</i>Five (5) Main Courses
											li <i class="fa fa-heart" aria-hidden="true">&nbsp;</i>Two (2) Desserts
											li <i class="fa fa-heart" aria-hidden="true">&nbsp;</i>Unlimited Plain Rice

									div(class="col s6 m6")
										ul
											li <i class="fa fa-heart" aria-hidden="true">&nbsp;</i>One (1) Bottled Softdrink / person
											li <i class="fa fa-heart" aria-hidden="true">&nbsp;</i>Purified Water

						div(class="divider")
						div(class="main-course")
							h3(class="head up") 5 Main Courses
							p(class="sub") Your choice of 5 main dishes from our menu: pork, chicken, fish, beef, noodles, seafoods, vegetables, and others...
								div(class="row")
									div(class="col s6 m6")
										h3(class="head") BEEF
										ul
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Steak
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Caldereta
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef with Mushroom
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef with Onion
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef with Broccoli
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef with Young Corn
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Asado
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Mango
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Curry
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Morcon
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Stir Fry Beef with Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef with Stew Sausage
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Beef Tips in Oyster Sauce

									div(class="col s6 m6")
										h3(class="head") FISH & SEAFOODS
										ul
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fish Fillet with Sweet & Sour Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Whole Fish with Sweet & Sour Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fish Estofado
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Steam Fish with Mayonnaise
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fish Fillet with Chili Hot Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fish Fillet with Mango Chili Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Poached Fish
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fish Fillet with Tartar Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>ASEAN Fish Spicy
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Shrimp with Oyster
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Shrimp Roll
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Breaded Shrimp with Chili Hot Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Squid with Oyster
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Steamed Fish Fillet w/ Lemon & Butter Sauce

								div(class="row")
									div(class="col s6 m6")
										h3(class="head") PORK
										ul
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Afritada
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Braised Pork (Humba)
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Caldereta
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Sweet & Sour Pork
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Lumpia
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Spare Ribs
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Chop Guisado
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Asado
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Curry
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Slim
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork with Onion
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Liver
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Breaded Pork Chop
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork with Cauliflower
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork with Chili Hot Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Breaded Pork with Mango Chili Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork Embutido
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Stir Fry Pork
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Meat Balls
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pork with Cheese Ham Roll
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Spicy Chili Yum Pork

									div(class="col s6 m6")
										h3(class="head") CHICKEN
										ul
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Buttered Chicken
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Glazed Chicken
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Afritada
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Chunk with Honey
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Lollipop
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Curry
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Guisado
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Adobo
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken with Oyster
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Delight
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Fillet with Sweet & Sour Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Fillet with Gravy Sauce
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Cashew Nuts
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Roll
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Lemon Chicken
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Orange Chicken
											li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Pork Adobo

								div(class="row")
									h3(class="head") NOODLES & VEGGIES / OTHERS
									ul
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Spaghetti with Meat Sauce
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Bam-i
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Sotanghon
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Satimi
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chao Pat Chin
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>3 Kind Mushrooms
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fresh Lumpia
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Empanada
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Kambing Caldereta

								div(class="row")
									h3(class="head up") 2 Desserts
									p(class="sub") Your choice of our mouthwatering desserts...
									div(class="divider")
									h3(class="head") NOODLES & VEGGIES / OTHERS
									ul
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fruit Salad
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Buko Pandan
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Mango Float
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Leche Flan
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Buko Salad
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Macaroni Salad
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Mango Gelatin Salad
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Fresh Fruits Medley
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Chicken Salad
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Pineapple Chunks
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Garden Salad
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Mango Pandan Gelatin

								div(class="row")
									h3(class="head") Amenities:
									ul
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Elegant Skirted Buffet with Centerpiece
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Covered Tables & Chairs
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Presidential Table Set-up
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Cake / Gift Table Set-up
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>Uniformed Waiters & Waitress
										li <i class="fa fa-check-square-o" aria-hidden="true">&nbsp;</i>All Catering Amenities, etc.

									h3(class="head up") Other services offered for all occasions:
									ul
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Cakes for all occasions
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Packed Lunch / Meals
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Food Orders (per chafing dish)
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Clown / Host
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Balloons & Balloon Decor
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Tents for Reception
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Red Carpet
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Ceiling Decor
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Floral Arrangements
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Party Needs & Packages
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Tables & Chairs Rental
										li <i class="fa fa-certificate" aria-hidden="true">&nbsp;</i>Skirted Buffet Set-up with Centerpiece

								div(class="row semi-cater")
									h3(class="head up2") SEMI-CATER
									p(class="sub") (service only, no food, no time limit) – price depends on the number of settings required
									h3(class="head") INCLUSIONS:
									ul
										li <i class="fa fa-dot-circle-o" aria-hidden="true">&nbsp;</i> Elegant Skirted Buffet with Centerpiece
										li <i class="fa fa-dot-circle-o" aria-hidden="true">&nbsp;</i>Covered Tables & Chairs
										li <i class="fa fa-dot-circle-o" aria-hidden="true">&nbsp;</i>Cake / Gift Table Set-up
										li <i class="fa fa-dot-circle-o" aria-hidden="true">&nbsp;</i>Presidential Table Set-up
										li <i class="fa fa-dot-circle-o" aria-hidden="true">&nbsp;</i>Uniformed Waiters & Waitress
										li <i class="fa fa-dot-circle-o" aria-hidden="true">&nbsp;</i>All Catering Amenities, etc.


				div(class="general-sidebar col s4 m4")
					div(class="cont-info")
						h5(class="title") Contact Information
						ul
							li(class="icon-right") <i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>
							li(class="cont-right") Address 1: lipata, Minglanilla, Cebu <br>Address 2: Mantalongon, Barili, Cebu
						ul
							li(class="icon-right2") <i class="fa fa-mobile" aria-hidden="true">&nbsp;</i>
							li(class="cont-right") Phone: 09254958268

						ul
							li(class="icon-right3") <i class="fa fa-envelope" aria-hidden="true">&nbsp;</i>
							li(class="cont-right") Email: ayenscateringservices@gmail.com

					div(class="menu-download")
							a(href="#") 
								<img src="img/download-menu.png">

					div(class="testimonial-right")
						h3 Our happy guests loved your scrumptious food, elegant and sophisticated table &amp; food presentation, and excellent service. Thank you so much! :)
						h4 Ayen C. Briones
						h5 Customer

include footer